html
{
	background: #FFFFFF url("../images/mountains%20stars.jpg") no-repeat left top scroll;
	background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

body {
  padding-top: 99px;
  background-color: transparent;
}

.navbar-brand {
  padding-top: 22px;
}

.navbar {
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
  opacity: 0.93;
  height: 99px;
}

.landing-container {
  background-color: transparent;
  text-align: center;
  padding-top: 99px;
}

.landing-text {
	background-color: transparent;
  line-height: 32px;
  text-align: center;
  font-size: 27px;
  color: #FFFFFF;
  font-family: alwyn-new-rounded-web, sans-serif;
  font-weight: 600;
  padding: 0 20px;
}

#mc_embed_signup input.email {
  width: 100%;
  margin: 0 0 10px 0;
  border-width: 1px;
  border-style: solid;
  border-color: #C4C4C4;
  background-color: #F2F2F2;
  color: #7F7F7F;
  font-family: alwyn-new-rounded-web, sans-serif;
  font-style: italic;
  font-weight: 300;
  padding: 6px;
}

#mc_embed_signup input.email:hover,
#mc_embed_signup input.email:focus {
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#mc_embed_signup input.button {
  width: 100%;
  margin: 0 0 10px 0;
  background-color: #EEE;
  color: #555;
  background: url("../images/u109-17.png") no-repeat center center;
}

#mc_embed_signup input.button:hover,
#mc_embed_signup input.button:focus {
  background: url("../images/u109-17-r.png") no-repeat center center;
}